<!DOCTYPE html>
<html>
<head>
</head>
<body>
<div class="topbar">
  CarManager - Hello {{email}}
</div>

<div class="sidenav">
  <a href="/clientgeneralinfo">General Info</a>
  <a href="/clientmycars">My Cars</a>
  <a href="/clientmyrefuels">My Refuels</a>
  <a href="/clientmyrepairs">My Repairs</a>
  <a href="/clientnewcar">New Car</a>
  <a href="/clientnewrefuel">New Refuel</a>
  <a href="/clientnewrepair">New Repair</a>
  <a (click)="logout()">Logout</a>
</div>

<div class="content">
  <table class="contenttable">
    <tr class="tablerow">
      <th class="tableheader">TypeOfFuel</th>
      <th class="tableheader">Volume</th>
      <th class="tableheader">Price</th>

      <th class="tableheader">delete</th>
    </tr>
    <tr *ngFor="let refuel of refuels" class="tablerow">
      <td class="tabledata">{{refuel.typeOfFuel}}</td>
      <td class="tabledata">{{refuel.volume}}</td>
      <td class="tabledata">{{refuel.price}}</td>

      <td>
        <button class="tabledatabutton" (click)="deleteRefuel(refuel.idRefuel)">Delete</button>
      </td>
    </tr>
  </table>
</div>



</body>
</html>
