* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
  width: 100%;
}
.topbar{
  text-align: center;
  border: 3px solid red;
  position: fixed;
  height: 10vh;
  vertical-align: middle;
  width: 100vw;
  font-size: 3.5vw;
  top: 0;
  left: 0;
}

/* Style the side navigation */
.sidenav {
  height: 90vh;
  width: 10vw;
  position: fixed;
  z-index: 1;
  top: 10vh;
  left: 0;
  border: 3px solid lightblue;
  overflow-x: hidden;

}


/* Side navigation links */
.sidenav a {
  padding: 16px;
  text-decoration: none;
  display: block;
  border-radius: 5px;
}

/* Change color on hover */
.sidenav a:hover {
  background-color: lightblue;
}

/* Style the content */
.content {
  top: 10vh;
  left: 10vw;
  padding-left: 3vw;
  padding-top: 3vh;
  border: 3px solid darkgreen;
  position: fixed;
  height: 90vh;
  width: 90vw;
}
.repairtable{
  table-layout: fixed
}
.mainth{
  background-color: aquamarine;
  text-align: center;
  width: 10vw;
  height: 5vh;
}
.mainthrepairpart{
  background-color: aquamarine;
  text-align: center;
  width: 54vw;
  height: 5vh;
}
.repairth{
  background-color: aquamarine;
  text-align: center;
  height: 3vh;
  width: 15vw;
}
.repairthaction{
  background-color: aquamarine;
  text-align: center;
  height: 1.5vh;
  width: 7.5vw;

}
.repairtd{
  background-color: aliceblue;
  text-align: center;
  height: 1.5vh;
  width: 15vw;

}

.repairtdaction{
  background-color: aliceblue;

  height: 1.5vh;
  width: 7.5vw;

}
.buttonrepairpart{
  width: 100%;
  height: 3vh;

}
tr{
  text-align: center;
  background-color: aliceblue;

}
table{
  width: 100%;

  /*border: 3px solid blue;*/

  margin: 0;
  background-color: aliceblue;
}

