<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
<!--</head>-->
<!--<body>-->
<!--<div class="topbar">-->
<!--  CarManager - Hello {{email}}-->
<!--</div>-->

<!--<div class="sidenav">-->
<!--  <a href="/clientgeneralinfo">General Info</a>-->
<!--  <a href="/clientmycars">My Cars</a>-->
<!--  <a href="/clientmyrefuels">My Refuels</a>-->
<!--  <a href="/clientmyrepairs">My Repairs</a>-->
<!--  <a href="/clientnewcar">New Car</a>-->
<!--  <a href="/clientnewrefuel">New Refuel</a>-->
<!--  <a href="/clientnewrepair">New Repair</a>-->
<!--  <a (click)="logout()">Logout</a>-->
<!--  <a href="clientchangepassword">Change Password</a>-->
<!--</div>-->

<!--<div class="content">-->
<!--<form>-->
<!--  <div>-->
<!--    <p>-->
<!--      <input type="password" [(ngModel)]="oldpassword" placeholder="oldpassword" name="oldpassword">-->
<!--    </p>-->
<!--    <p>-->
<!--      <input type="password"[(ngModel)]="newpassword" placeholder="newpassword" name="newpassword">-->
<!--    </p>-->
<!--    <p>-->
<!--      <input type="password" [(ngModel)]="newpasswordconfirm"  placeholder="confirmpassword" name="confirmpassword">-->
<!--    </p>-->
<!--    <p>-->
<!--      <input type="submit" name="Submit" id="go" value="Change Password" (click)="changePassword()">-->
<!--    </p>-->
<!--  </div>-->
<!--</form>-->
<!--</div>-->



<!--</body>-->
<!--</html>-->
<!DOCTYPE html>
<html>
<head>
</head>
<body>
<mat-drawer-container class="drawer-container" hasBackdrop="false">
  <mat-drawer #drawer mode="push" class="drawer-menu">
    <button mat-button class="drawer-button" color="accent" (click)="router.navigate(['clientgeneralinfo']);">General Info</button>
    <button mat-button class="drawer-button" color="accent" (click)="router.navigate(['clientmycars']);">My Cars</button>
    <button mat-button class="drawer-button" color="accent" (click)="router.navigate(['clientmyrefuels']);">My Refuels</button>
    <button mat-button class="drawer-button" color="accent" (click)="router.navigate(['clientmyrepairs']);">My Repairs</button>
    <button mat-button class="drawer-button" color="accent" (click)="router.navigate(['clientnewcar']);">New Car</button>
    <button mat-button class="drawer-button" color="accent" (click)="router.navigate(['clientnewrefuel']);">New Refuel</button>
    <button mat-button class="drawer-button" color="accent" (click)="router.navigate(['clientnewrepair']);">New Repair</button>
    <button mat-button class="drawer-button" color="accent" (click)="router.navigate(['clientchangepassword']);">Change Password</button>
  </mat-drawer>
  <mat-drawer-content class="drawer-content">
    <mat-card class="title-bar">
      <mat-card-title class="title-bar-small">
        <button mat-raised-button (click)="drawer.toggle()">
          <mat-icon color="accent">menu</mat-icon>
        </button>
        CarManager - Hello {{email}}
        <div class="title-buttons-right">
          <button mat-raised-button (click)="logout()">
            <mat-icon color="accent">power_settings_new</mat-icon>
            Logout
          </button>
        </div>
      </mat-card-title>
    </mat-card>
    <div class="page-content">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Change your password
            </mat-panel-title>
            <mat-panel-description>
              Here you can change password for your account
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p>
            <mat-form-field appearance="fill" color="accent">
              <mat-label>Old password</mat-label>
              <input matInput [(ngModel)]="oldpassword">
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="fill" color="accent">
              <mat-label>New password</mat-label>
              <input matInput [(ngModel)]="newpassword">
            </mat-form-field>
          </p>
          <p>
            <mat-form-field appearance="fill" color="accent">
              <mat-label>Confirm new password</mat-label>
              <input matInput [(ngModel)]="newpasswordconfirm">
            </mat-form-field>
          </p>
          <p>
            <button mat-button color="accent" class="mat-elevation-z3" (click)="changePassword()">Save</button>
          </p>
        </mat-expansion-panel>
      </mat-accordion>

    </div>

  </mat-drawer-content>
</mat-drawer-container>
</body>
</html>
