.page-content{
  width: 60vw;
  margin-left: 20vw;
  margin-top:10vh;
}
body{
  background-color:#212121;
  height: 105vh;
}
.menu-item{
  background-color:#212121;
  margin: 10px;
}
.title-bar-small{
  vertical-align: middle;
}
.title-buttons-right{
  float: right;
}
mat-panel-title{
  width: 30%;
}
mat-panel-description{
  width:70%;
}
