<!DOCTYPE html>
<html>
<head>
</head>
<body>
<div class="drawer-content">
<mat-card class="title-bar">
  <mat-card-title class="title-bar-small">
    CarManager
  </mat-card-title>
</mat-card>
<div class="page-content">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Login
        </mat-panel-title>
        <mat-panel-description>
          Here you can login to your account
        </mat-panel-description>
      </mat-expansion-panel-header>
      <form #loginForm="ngForm">
        <p>
          <mat-form-field appearance="fill" color="accent">
            <mat-label>Email</mat-label>
            <input matInput [(ngModel)]="username" required name="loginEmail" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}">
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="fill" color="accent">
            <mat-label>Password</mat-label>
            <input matInput [(ngModel)]="password" type="password" required name="loginPassword" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">
          </mat-form-field>
        </p>
        <p>
          <button mat-button color="accent" class="mat-elevation-z3" (click)="loginLoginComp()"
                  [disabled]="loginForm.invalid">Login</button>
        </p>
      </form>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Client register
        </mat-panel-title>
        <mat-panel-description>
          Here you can register as a client
        </mat-panel-description>
      </mat-expansion-panel-header>
      <form #clientRegisterForm="ngForm">
        <p>
          <mat-form-field appearance="fill" color="accent">
            <mat-label>Email</mat-label>
            <input matInput [(ngModel)]="client.email" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" required
                   type="text" name="ClientEmail">
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="fill" color="accent">
            <mat-label>Password</mat-label>
            <input matInput [(ngModel)]="client.password" type="password" required name="ClientPassword" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="fill" color="accent">
            <mat-label>Name</mat-label>
            <input matInput [(ngModel)]="client.name" required name="ClientName" pattern="[a-zA-Z]{1,}">
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="fill" color="accent">
            <mat-label>Surname</mat-label>
            <input matInput [(ngModel)]="client.surname" required name="ClientSurname" pattern="[a-zA-Z]{1,}">
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="fill" color="accent">
            <mat-label>Phone number</mat-label>
            <input matInput [(ngModel)]="client.phoneNumber" required name="ClientPhoneNumber" pattern="[0-9]{9,9}" >
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="fill" color="accent">
            <mat-label>Your Repair shop</mat-label>
            <mat-select [(ngModel)]="selectedRepairShop" [ngModelOptions]="{standalone: true}" required name="date">
              <mat-option *ngFor="let repairShop of allRepairShops" [value]="repairShop">
                {{repairShop.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </p>
        <p>
          <button mat-button color="accent" class="mat-elevation-z3" (click)="registerClient()" name="ClientButton"
                  [disabled]="clientRegisterForm.invalid">Register Client</button>
        </p>
      </form>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Repair shop register
        </mat-panel-title>
        <mat-panel-description>
          Here you can register as a repair shop
        </mat-panel-description>
      </mat-expansion-panel-header>
      <form #repairShopRegisterForm="ngForm">
        <p>
          <mat-form-field appearance="fill" color="accent">
            <mat-label>Email</mat-label>
            <input matInput [(ngModel)]="repairshop.email" pattern="[a-zA-Z0-9.-_]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}" required
            type="text" name="RepairShopEmail">
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="fill" color="accent">
            <mat-label>Password</mat-label>
            <input matInput [(ngModel)]="repairshop.password" type="password" required name="RepairShopPassword" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}">
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="fill" color="accent">
            <mat-label>Name</mat-label>
            <input matInput [(ngModel)]="repairshop.name" required name="RepairShopName" pattern="[a-zA-Z]{1,}">
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="fill" color="accent">
            <mat-label>Phone number</mat-label>
            <input matInput [(ngModel)]="repairshop.phoneNumber" required name="RepairShopPhoneNumber" pattern="[0-9]{9,9}">
          </mat-form-field>
        </p>
        <p>
          <mat-form-field appearance="fill" color="accent">
            <mat-label>NIP</mat-label>
            <input matInput [(ngModel)]="repairshop.nip" required name="RepairShopNIP" pattern="[0-9]{8,8}">
          </mat-form-field>
        </p>
        <p>
          <button mat-button color="accent" class="mat-elevation-z3" (click)="registerRepairShop()" name="RepairShopButton"
                  [disabled]="repairShopRegisterForm.invalid">
            Register Repair Shop</button>
        </p>
      </form>
    </mat-expansion-panel>
  </mat-accordion>

</div>
</div>
</body>
</html>
