<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
<!--</head>-->
<!--<body>-->
<!--  <div class="maindiv">-->
<!--    <div class = "logindiv">-->
<!--      <form id="accesspanel" action="login" method="post" class="loginform">-->
<!--        <div class="inset">-->
<!--          <p>-->
<!--            <input type="text" name="username" [(ngModel)]="username" id="email" placeholder="username">-->
<!--          </p>-->
<!--          <p>-->
<!--            <input type="password" name="password" [(ngModel)]="password" id="password" placeholder="password">-->
<!--          </p>-->
<!--        </div>-->
<!--        <p>-->
<!--          <input type="submit" name="Login" id="go" value="Login" (click)="loginLoginComp()">-->
<!--        </p>-->
<!--      </form>-->
<!--      <div>-->
<!--        <input-->
<!--          style="display: none"-->
<!--          type="file" (change)="onFileChanged($event)"-->
<!--          #fileInput>-->
<!--        <button (click)="fileInput.click()">Select File</button>-->
<!--        <button (click)="onUpload()">Upload!</button>-->
<!--      </div>-->
<!--    </div>-->
<!--    <div class="registerrepairshopdiv">-->
<!--      <form>-->
<!--        <div>-->
<!--          <p>-->
<!--            <input type="text" name="email" placeholder="email" [(ngModel)]="repairshop.email">-->
<!--          </p>-->
<!--          <p>-->
<!--            <input type="password" name="password" placeholder="password" [(ngModel)]="repairshop.password">-->
<!--          </p>-->
<!--          <p>-->
<!--            <input type="text" name="name" placeholder="name" [(ngModel)]="repairshop.name">-->
<!--          </p>-->
<!--          <label>Numer telefonu</label>-->
<!--          <p>-->
<!--            <input type="number" name="phonenumber" placeholder="phonenumber" [(ngModel)]="repairshop.phoneNumber">-->
<!--          </p>-->
<!--          <label>Numer NIP</label>-->
<!--          <p>-->
<!--            <input type="number" name="nip" placeholder="nip" [(ngModel)]="repairshop.nip">-->
<!--          </p>-->
<!--          <p>-->
<!--            <input type="submit" name="registerrepairshop" value="registerrepairshop" (click)="registerRepairShop()">-->
<!--          </p>-->
<!--        </div>-->
<!--      </form>-->
<!--    </div>-->
<!--    <div class="registerclientdiv">-->
<!--      <form>-->
<!--        <div>-->
<!--          <p>-->
<!--            <input type="text" name="email" placeholder="email" [(ngModel)]="client.email">-->
<!--          </p>-->
<!--          <p>-->
<!--            <input type="password" name="password" placeholder="password" [(ngModel)]="client.password">-->
<!--          </p>-->
<!--          <p>-->
<!--            <input type="text" name="name" placeholder="name" [(ngModel)]="client.name">-->
<!--          </p>-->
<!--          <p>-->
<!--            <input type="text" name="surname" placeholder="surname" [(ngModel)]="client.surname">-->
<!--          </p>-->
<!--          <p>-->
<!--            <input type="number" name="phonenumber" placeholder="phonenumber" [(ngModel)]="client.phoneNumber">-->
<!--          </p>-->
<!--          <p>-->
<!--            <select [(ngModel)]="selectedRepairShop" [ngModelOptions]="{standalone: true}">-->
<!--              <option *ngFor="let repairShop of allRepairShops"-->
<!--                      [ngValue]="repairShop">-->
<!--                {{repairShop.name}}-->
<!--              </option>-->

<!--            </select>-->
<!--          </p>-->
<!--          <p>-->
<!--            <input type="submit" name="registerclient" value="registerclient" (click)="registerClient()">-->
<!--          </p>-->
<!--        </div>-->
<!--      </form>-->
<!--    </div>-->
<!--  </div>-->

<!--</body>-->
<!--</html>-->
<!DOCTYPE html>
<html>
<head>
</head>
<body>
<div class="drawer-content">
<mat-card class="title-bar">
  <mat-card-title class="title-bar-small">

    CarManager

  </mat-card-title>
</mat-card>
<div class="page-content">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Login
        </mat-panel-title>
        <mat-panel-description>
          Here you can login to your account
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>
        <mat-form-field appearance="fill" color="accent">
          <mat-label>Username</mat-label>
          <input matInput [(ngModel)]="username">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="fill" color="accent">
          <mat-label>Password</mat-label>
          <input matInput [(ngModel)]="password" type="password">
        </mat-form-field>
      </p>
      <p>
        <button mat-button color="accent" class="mat-elevation-z3" (click)="loginLoginComp()">Login</button>
      </p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Client register
        </mat-panel-title>
        <mat-panel-description>
          Here you can register as a client
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>
        <mat-form-field appearance="fill" color="accent">
          <mat-label>Email</mat-label>
          <input matInput [(ngModel)]="client.email">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="fill" color="accent">
          <mat-label>Password</mat-label>
          <input matInput [(ngModel)]="client.password" type="password">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="fill" color="accent">
          <mat-label>Name</mat-label>
          <input matInput [(ngModel)]="client.name">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="fill" color="accent">
          <mat-label>Surname</mat-label>
          <input matInput [(ngModel)]="client.surname">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="fill" color="accent">
          <mat-label>Phone number</mat-label>
          <input matInput [(ngModel)]="client.phoneNumber">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="fill" color="accent">
          <mat-label>Your Repair shop</mat-label>
          <mat-select [(ngModel)]="selectedRepairShop" [ngModelOptions]="{standalone: true}">
            <mat-option *ngFor="let repairShop of allRepairShops" [value]="repairShop">
              {{repairShop.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </p>
      <p>
        <button mat-button color="accent" class="mat-elevation-z3" (click)="registerClient()">Register Client</button>
      </p>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Repair shop register
        </mat-panel-title>
        <mat-panel-description>
          Here you can register as a repair shop
        </mat-panel-description>
      </mat-expansion-panel-header>
      <p>
        <mat-form-field appearance="fill" color="accent">
          <mat-label>Email</mat-label>
          <input matInput [(ngModel)]="repairshop.email">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="fill" color="accent">
          <mat-label>Password</mat-label>
          <input matInput [(ngModel)]="repairshop.password" type="password">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="fill" color="accent">
          <mat-label>Name</mat-label>
          <input matInput [(ngModel)]="repairshop.name">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="fill" color="accent">
          <mat-label>Phone number</mat-label>
          <input matInput [(ngModel)]="repairshop.phoneNumber">
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="fill" color="accent">
          <mat-label>NIP</mat-label>
          <input matInput [(ngModel)]="repairshop.nip">
        </mat-form-field>
      </p>
      <p>
        <button mat-button color="accent" class="mat-elevation-z3" (click)="registerRepairShop()">Register Repair Shop</button>
      </p>
    </mat-expansion-panel>
  </mat-accordion>

</div>
</div>
</body>
</html>
