<!DOCTYPE html>
<html>
<head>
</head>
<body>
<mat-drawer-container class="drawer-container" hasBackdrop="false">
  <mat-drawer #drawer mode="push" class="drawer-menu">
    <button mat-button class="drawer-button" color="accent" (click)="router.navigate(['clientgeneralinfo']);">General Info</button>
    <button mat-button class="drawer-button" color="accent" (click)="router.navigate(['clientmycars']);">My Cars</button>
    <button mat-button class="drawer-button" color="accent" (click)="router.navigate(['clientmyrefuels']);">My Refuels</button>
    <button mat-button class="drawer-button" color="accent" (click)="router.navigate(['clientmyrepairs']);">My Repairs</button>
    <button mat-button class="drawer-button" color="accent" (click)="router.navigate(['clientnewcar']);">New Car</button>
    <button mat-button class="drawer-button" color="accent" (click)="router.navigate(['clientnewrefuel']);">New Refuel</button>
    <button mat-button class="drawer-button" color="accent" (click)="router.navigate(['clientnewrepair']);">New Repair</button>
    <button mat-button class="drawer-button" color="accent" (click)="router.navigate(['clientchangepassword']);">Change Password</button>
  </mat-drawer>
  <mat-drawer-content class="drawer-content">
    <mat-card class="title-bar">
      <mat-card-title class="title-bar-small">
        <button mat-raised-button (click)="drawer.toggle()">
          <mat-icon color="accent">menu</mat-icon>
        </button>
        CarManager - Hello {{email}}
        <div class="title-buttons-right">
          <button mat-raised-button (click)="logout()">
            <mat-icon color="accent">power_settings_new</mat-icon>
            Logout
          </button>
        </div>
      </mat-card-title>
    </mat-card>
    <div class="page-content">
      <mat-card class="page-wrapper">
        <mat-card class="menu-item">
          <mat-card-subtitle>
            Your name
          </mat-card-subtitle>
          {{currentClient.name}}
        </mat-card>
        <mat-card class="menu-item">
          <mat-card-subtitle>
            Your surname
          </mat-card-subtitle>
          {{currentClient.surname}}
        </mat-card>
        <mat-card class="menu-item">
          <mat-card-subtitle>
            Your phone number
          </mat-card-subtitle>
          {{currentClient.phoneNumber}}
        </mat-card>
        <mat-card class="menu-item">
          <mat-card-subtitle>
            Your mail address
          </mat-card-subtitle>
          {{currentClient.auth.mailAddress}}
        </mat-card>
        <mat-card class="menu-item">
          <mat-card-subtitle>
            Your repair shop email
          </mat-card-subtitle>
          {{currentClient.repairShop.auth.mailAddress}}
        </mat-card>
      </mat-card>
    </div>

  </mat-drawer-content>
</mat-drawer-container>
</body>
</html>
