<!DOCTYPE html>
<html>
<head>
</head>
<body>
<mat-drawer-container class="drawer-container" hasBackdrop="false">
  <mat-drawer #drawer mode="push" class="drawer-menu">
    <button mat-button class="drawer-button" color="accent" (click)="router.navigate(['clientgeneralinfo']);">General Info</button>
    <button mat-button class="drawer-button" color="accent" (click)="router.navigate(['clientmycars']);">My Cars</button>
    <button mat-button class="drawer-button" color="accent" (click)="router.navigate(['clientmyrefuels']);">My Refuels</button>
    <button mat-button class="drawer-button" color="accent" (click)="router.navigate(['clientmyrepairs']);">My Repairs</button>
    <button mat-button class="drawer-button" color="accent" (click)="router.navigate(['clientnewcar']);">New Car</button>
    <button mat-button class="drawer-button" color="accent" (click)="router.navigate(['clientnewrefuel']);">New Refuel</button>
    <button mat-button class="drawer-button" color="accent" (click)="router.navigate(['clientnewrepair']);">New Repair</button>
    <button mat-button class="drawer-button" color="accent" (click)="router.navigate(['clientchangepassword']);">Change Password</button>
  </mat-drawer>
  <mat-drawer-content class="drawer-content">
    <mat-card class="title-bar">
      <mat-card-title class="title-bar-small">
        <button mat-raised-button (click)="drawer.toggle()">
          <mat-icon color="accent">menu</mat-icon>
        </button>
        CarManager - Hello {{email}}
        <div class="title-buttons-right">
          <button mat-raised-button (click)="logout()">
            <mat-icon color="accent">power_settings_new</mat-icon>
            Logout
          </button>
        </div>
      </mat-card-title>
    </mat-card>
    <div class="page-content">
      <mat-accordion>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Add new car
            </mat-panel-title>
            <mat-panel-description>
              Here you can add new car to your account
            </mat-panel-description>
          </mat-expansion-panel-header>
          <form #carForm="ngForm">
            <p>
              <mat-form-field appearance="fill" color="accent">
                <mat-label>Manufacturer</mat-label>
                <input matInput [(ngModel)]="manufacturer" required pattern="[a-zA-Z]{1,}" name="manufacturer">
              </mat-form-field>
            </p>
            <p>
              <mat-form-field appearance="fill" color="accent">
                <mat-label>Model</mat-label>
                <input matInput [(ngModel)]="model" required pattern="[a-zA-Z]{1,}" name="model">
              </mat-form-field>
            </p>
            <p>
              <mat-form-field appearance="fill" color="accent">
                <mat-label>Version</mat-label>
                <input matInput [(ngModel)]="version" required pattern="[a-zA-Z]{1,}" name="version">
              </mat-form-field>
            </p>
            <p>
              <mat-form-field appearance="fill" color="accent">
                <mat-label>Power</mat-label>
                <input matInput [(ngModel)]="power" required pattern="[0-9]{1,}" name="power">
              </mat-form-field>
            </p>
            <p>
              <mat-form-field appearance="fill" color="accent">
                <mat-label>Displacement</mat-label>
                <input matInput [(ngModel)]="displacement" required pattern="[0-9]{1,}" name="displacement">
              </mat-form-field>
            </p>
            <p>
              <mat-form-field appearance="fill" color="accent">
                <mat-label>Mileage</mat-label>
                <input matInput [(ngModel)]="mileage" required pattern="[0-9]{1,}" name="mileage">
              </mat-form-field>
            </p>
            <p>
              <mat-form-field appearance="fill" color="accent">
                <mat-label>Year Of Manufacture</mat-label>
                <input matInput [(ngModel)]="yearOfManufacture" required pattern="[0-9]{4,4}" name="yearOfManufacture">
              </mat-form-field>
            </p>
            <p>
              <button mat-button color="accent" class="mat-elevation-z3" (click)="addNewCar()"
              [disabled]="carForm.invalid">Save</button>
            </p>
          </form>
        </mat-expansion-panel>
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>
              Add new fuel tank
            </mat-panel-title>
            <mat-panel-description>
              Here you can specify what fuel tank/s your car has
            </mat-panel-description>
          </mat-expansion-panel-header>
          <form #fuelTankForm= "ngForm">
            <p>
              <mat-form-field appearance="fill" color="accent">
                <mat-label>Capacity</mat-label>
                <input matInput [(ngModel)]="capacity" required pattern="[0-9]{1,}" name="capacity">
              </mat-form-field>
            </p>
            <p>
              <mat-form-field appearance="fill" color="accent">
                <mat-label>Type of fuel</mat-label>
                <mat-select [(ngModel)]="typeOfFuel" required name="typeOfFuel">
                  <mat-option value="PETROL">PETROL</mat-option>
                  <mat-option value="LPG">LPG</mat-option>
                  <mat-option value="DIESEL">DIESEL</mat-option>
                </mat-select>
              </mat-form-field>
            </p>
            <p>
              <mat-form-field appearance="fill" color="accent">
                <mat-label>Car</mat-label>
                <mat-select [(ngModel)]="selectedCar" [ngModelOptions]="{standalone: true}" required name="car">
                  <mat-option *ngFor="let car of allCars" [value]="car">
                    {{car.manufacturer}} {{car.model}} {{car.version}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </p>
            <p>
              <button mat-button color="accent" class="mat-elevation-z3" (click)="addNewFuelTank()"
              [disabled]="fuelTankForm.invalid">Save</button>
            </p>
          </form>
        </mat-expansion-panel>
      </mat-accordion>

    </div>

  </mat-drawer-content>
</mat-drawer-container>
</body>
</html>
